* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Kumbh Sans", sans-serif;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    padding: 0 24px;
  }
  @media (min-width: 1115px) {
    .header {
      height: 112px;
      border-bottom: 1px solid hsl(220deg, 14%, 75%);
    }
  }
  .header__imagen {
    width: 175px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: 1115px) {
    .header__imagen {
      width: 590px;
    }
  }
  .fa-solid fa-bars:hover {
    cursor: pointer;
  }
  @media (min-width: 1115px) {
    .fa-solid fa-bars {
      display: none;
    }
  }
  .header__carrito-usuario {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70px;
  }
  @media (min-width: 1115px) {
    .header__carrito-usuario {
      width: 125px;
    }
  }
  .fa-sharp fa-solid fa-cart-shopping {
    position: relative;
  }
  .header__carrito--notificacion {
    display: none;
    background-color: hsl(0deg, 84%, 47%);
    width: 15px;
    height: 12px;
    border-radius: 16px;
    position: absolute;
    top: -2px;
    right: -5px;
    font-size: 0.6em;
    text-align: center;
    color: hsl(0deg, 0%, 100%);
  }
  .fa-sharp fa-solid fa-cart-shopping:hover {
    cursor: pointer;
  }
  .fa-solid fa-user {
    width: 24px;
  }
  @media (min-width: 1115px) {
    .fa-solid fa-user {
      width: 48px;
    }
  }
  .fa-solid fa-user:hover {
    cursor: pointer;
    border: 2px solid hsl(0deg, 84%, 47%);
    border-radius: 50%;
  }
  .header__logo {
    width: 150px;
  }
  
  .navbar {
    display: none;
    width: 400px;
  }
  .navbar__menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
  }
  .navbar__nombre {
    text-decoration: none;
    color: hsl(219deg, 9%, 45%);
    display: block;
    height: 112px;
    padding-top: 42px;
  }
  .navbar__nombre:hover {
    border-bottom: 4px solid hsl(0deg, 84%, 47%);
  }
  @media (min-width: 1115px) {
    .navbar {
      display: block;
    }
  }
  
  .modal-navbar {
    background-color: hsl(0deg, 0%, 100%);
    width: 250px;
    height: 100vh;
    padding: 28px 24px;
  }
  .modal-navbar__fondo {
    background-color: hsla(0deg, 0%, 0%, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
  }
  .modal-navbar__nombre {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
    list-style: none;
    margin-top: 50px;
  }
  .modal-navbar__nombre {
    text-decoration: none;
    color: hsl(220deg, 13%, 13%);
    font-weight: 700;
    font-size: 1.1em;
  }
  .modal-navbar__close-icon:hover {
    cursor: pointer;
  }
  .contenedor{
    max-width: 1100px;
	width: 90%;
	margin: auto;
    margin-top: 50px;
  }

  .contenedor__categoria{
    display: flex;
	flex-wrap: wrap;
  }
  .categoria__lista{
	display: flex;
	flex-direction: column;
	width: 18%;
}
.categoria__lista .categoria__item{
	display: block;
	width: 90%;
	padding: 15px 0;
	margin-bottom: 20px;
	background: #E84C3D;
	text-align: center;
	text-decoration: none;
	color: #fff;
}

.categoria__lista .ct_item-active{
	background: #2D3E50;
}

/* PRODUCTOS ============*/

.productos__lista{
	width: 82%;
	display: flex;
	flex-wrap: wrap;
}
.productos__lista .producto-item{
	width: 22%;
	margin-left: 3%;
	margin-bottom: 25px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.22);
	display: flex;
	flex-direction: column;
	align-items: center;
	align-self: flex-start;
	transition: all .4s;
}
.productos__lista .producto-item img{
	width: 100%;
}
.productos__lista .producto-item a{
	display: block;
	width: 100%;
	padding: 8px 0;
	background: #2D3E50;
	color: #fff;
	text-align: center;
	text-decoration: none;
}
/* RESPONSIVE */

@media screen and (max-width: 1100px){
	.products-list .product-item{
		width: 30.3%;
	}
}

@media screen and (max-width: 900px){
	.categoria__lista,
	.productos__lista{
		width: 100%;
	}

	.categoria__lista{
		flex-direction: row;
		justify-content: space-between;
	}

	.categoria__lista .categoria__item{
		align-self: flex-start;
		width: 15%;
		font-size: 14px;
	}

	.productos__lista .producto-item{
		margin-left: 4.5%;
	}

	.productos__lista .producto-item:nth-child(3n+1){
		margin-left: 0px;
	}
}

@media screen and (max-width: 700px){
	.categoria__lista{
		flex-direction: column;
	}
	.categoria__lista .categoria__item{
		width: 100%;
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 600px){

	.productos__lista .producto-item{
		width: 47.5%;
	}

	.productos__lista .producto-item:nth-child(3n+1){
		margin-left: 4.5%;
	}

	.productos__lista .producto-item:nth-child(2n+1){
		margin-left: 0px;
	}

}

@media screen and (max-width: 350px){
	.productos__lista .producto__item{
		width: 100%;
		margin-left: 0px;
	}
}